@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background: rgb(14, 13, 13);
  color: white;
  overflow-x: hidden;
}
>>>>>>> 433bd7f397ef9eb8b3d453e81aef6ef7c51c6c4e
